
      <div class="wrapper">
    
            <header>

                <a class="menu-icon" (click)="handleClick()">
                    <span></span>
                </a>
                <nav class="menu" [@toggleState]="toggle">
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About me</a></li>
                        <li><a href="#work">My Works</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </header>
        <!--
            <section id="home" class = "row">
                <div class="overlay">
                    <div class="col home-title jiji">
                        <h1>Shuan Guo</h1>
                        <h2>Frontend Web Developer</h2>
                       
                    </div>
                </div>
            </section>
        -->
     </div>  

